parts/body.png -filter -diff -merge -text
parts/cuong_phong.png -filter -diff -merge -text
parts/cuong_phong_visible.png -filter -diff -merge -text
parts/do_dong.png -filter -diff -merge -text
parts/do_dong_visible.png -filter -diff -merge -text
parts/loi_phong.png -filter -diff -merge -text
parts/loi_phong_visible.png -filter -diff -merge -text
parts/ma_thuat.png -filter -diff -merge -text
parts/ma_thuat_visible.png -filter -diff -merge -text
parts/phong_vu.png -filter -diff -merge -text
parts/phong_vu_visible.png -filter -diff -merge -text
parts/trau_xanh.png -filter -diff -merge -text
parts/trau_xanh_visible.png -filter -diff -merge -text
parts/vai_tho.png -filter -diff -merge -text
parts/vai_tho_visible.png -filter -diff -merge -text
source/armor-black-gold.png -filter -diff -merge -text
source/armor-blue-ox.png -filter -diff -merge -text
source/armor-bronze.png -filter -diff -merge -text
source/armor-hurricane.png -filter -diff -merge -text
source/armor-red.png -filter -diff -merge -text
source/armor-thunder.png -filter -diff -merge -text
source/body-base.png -filter -diff -merge -text
source/concealed-cuong_phong.png -filter -diff -merge -text
source/concealed-do_dong.png -filter -diff -merge -text
source/concealed-loi_phong.png -filter -diff -merge -text
source/concealed-ma_thuat.png -filter -diff -merge -text
source/concealed-phong_vu.png -filter -diff -merge -text
source/concealed-trau_xanh.png -filter -diff -merge -text
source/concealed-vai_tho.png -filter -diff -merge -text
source/effects.png -filter -diff -merge -text
source/joint-underpaint.png -filter -diff -merge -text
source/weapons.png -filter -diff -merge -text
source/wings.png -filter -diff -merge -text
